doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container.listing-reg
      h1 Atlas News Updates
      
      p#welcome_text Register for daily news updates about new developments in the world of data! 

      block content
